.sign-in-container {
  display: flex !important;
  align-items: center !important;
  margin: 20px !important;
}

.form-inputs {
  outline: none !important;
  border-color: none !important;
  box-shadow: none !important;
  display: flex !important;
  flex-direction: column !important;
  margin: 20px !important;
  }

.form-inputs:focus {
  outline: none !important;
  border-color: none !important;
  box-shadow: none !important;
  }

.form-control-label {
  font-family: 'Suisse Regular', sans-serif !important;
  font-weight: normal !important;
  color: black !important;

}


.form-control {
  width: 70% !important;
  height: 30px !important;
  font-size: 15px !important;
  font-family: 'Suisse Regular', sans-serif !important;
}

.form-actions {
  margin: 20px !important;
}

