.container-god {
  display: grid;
}

h1 {
  font-size: 30px !important;
  font-weight: 500 !important;
  font-family: 'Suisse Regular', sans-serif !important;
  color: #333 !important;
  padding: 20px 0px 10px !important;

}

h2 {
  font-size: 20px !important;
  font-weight: 500 !important;
  font-family: 'Suisse Regular', sans-serif !important;
  color: #333 !important;
  padding: 10px 0px 10px !important;
  margin: 0px !important;

}

h4 {
  font-family: 'Suisse Regular', sans-serif !important;
  font-size: 16px !important;
  color: black !important;
  line-height: 1.7;
  padding: 4px 0px 10px !important;
  font-weight: 400 !important;

}

p {
  font-family: 'Suisse Regular', sans-serif !important;
  font-size: 16px !important;
  color: #333 !important;


}

.container-god img {
  margin: 20px 0px 0px 20px;
}

.mediator-show-button.btn btn-primary {
  margin-bottom: 20px !important;
}

