<div class="banner">
  <div class="banner-content">
    <div banner-container>
	     <h1> Find your ideal mediator to effect your most optimal outcome </h1>
	     <p> A curated selection of mediators </p>
        <%= link_to "Explore", gods_path, class: "btn btn-primary" %>
    </div>
  </div>
    <img src= "assets/mediator.jpg" alt = "mediator picture"></img>
</div>
