<div class="banner">
  <div class="banner-content">
    <div banner-container>
	     <h1> Find your ideal mediator to effect your most optimal outcome </h1>
	     <p> A curated selection of mediators </p>
        <%= link_to "Explore", mediators_path, class: "btn btn-primary" %>
    </div>
  </div>
    <%= cl_image_tag("https://res.cloudinary.com/tairtidhar/image/upload/v1549428025/mediator.jpg"), class = "banner-image",  alt = "mediator picture">%>
</div>
