<!-- index.html.erb -->
<div class="container">
  <h2></h2>
    <div class="row">
      <% @mediators.each do |mediator| %>
        <div class="col-md-3">
          <%= link_to mediator_path(mediator) do  %>
            <div class= "card">
            <!-- <li class="card-item"> -->
              <div class="mediatorname">
              <%=  mediator.name %>
              </div>
              <div class="card-link">
              </div>
              <div>
              <%= cl_image_tag mediator.photo, height: 500, width: 600, crop: :fill %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <!-- </ul> -->
  </div>
</div>

