.banner {
  font-family: 'Suisse Regular', sans-serif !important;
  color: black !important;
  text-align: center;
  background-color: #FFFEF2;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  filter: blur(px);
}

.banner h1 {

  font-size: 15px;
  margin: 0px 20px 20px 20px !important;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 20px;
  font-weight: normal;
  color: black;
  opacity: 0.6;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

}

.banner img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px !important;
  height: auto;
  max-width: 70% !important;
  display: flex;
  margin: 0px 20px 0px 0px !important;
}
